.header{
	margin-top:30px;
	margin-left:100px;
	font-family: museosans300;
	font-weight: 400;
	line-height: 20px;
	font-size: 80px;
	min-width:1146px;
}
#sbox{
	margin-right:100px;
	margin-left:100px;
	margin-top:0;
	width:300px;
}
ul {
		    list-style-type: none;
		    margin-top: 40px;
		    margin-left: 100px;
		    margin-right: 100px;
		    padding: 0;
		    overflow: hidden;
		    background-color: #3973cf;
		    border: none;
		    border-radius: 5px;
		    min-width:1146px;
		}
		#searcht {
		    margin-top: 6px;
		    margin-left: 530px;
		    width:170px;
		    height:32px;
		    border: none;
		    border-radius: 4px;
		}
		#searchb {
		    background-color: #A4A4A4;
		    border: none;
		    color: white;
		    padding: 9px 20px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    margin-top:3px;
		    margin-left:10px;
		    cursor: pointer;
		    border: none;
		    
		}
		
		li {
		    float: left;
		}
		
		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}
		
		li a:hover {
		    background-color: #d9d9d9;
		}
		body  {
			/*  background: url(nekoback.jpg) no-repeat center center fixed;  */
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
    		background-repeat:no-repeat;
   			background-size:cover;
   			background-color: #f6f4f1;
   			width:100%;
   			
		}
		
		.footer {
		position: fixed;
		bottom: 0;
	  	left: 0;
	  	right: 0;	
		   width: 100%;
		   background-color: #d9d9d9;
		   color: #595959;
		   text-align: center;
		   font-family: museosans300, sans-serif;
		}
		#legend{
			font-family:Lucida Console, monospace;
		}
		.form-register{
			margin-top: 30px;
		    margin-left: 150px;
		    margin-right: 150px;
		    margin-bottom: 0px;
			background-color:#ffffff;
			border-radius: 6px;
		}
		.input-register{
			width:400px;
			border-width: 1px;
			border-radius: 5px;
		}
		.control-group{
			margin-left: 50px;
		}
		.pesanreg{
			color:#3973cf;
			font-family:Lucida Console, monospace;
		}
		#container{
			margin-top: 0px;
		    margin-left: 100px;
		    margin-right: 150px;
		    margin-bottom: 100px;
			background-color:#ffffff;
			width:800px;
			height:auto;
			border-radius: 6px;
		}
		.containerlogin{
			padding-top:5px;
			padding-left:12px;
			margin-top: 10px;
		    margin-left: 100px;
		    margin-right: 150px;
			background-color:#ffffff;
			width:280px;
			height:45px;
			border-radius: 6px;
			text-align: left;
			font-family:Lucida Console, monospace;
		}
		#gambarartikel{
			margin-top:35px;
			margin-right:0px;
		}
		#gambarpenyakit{
			margin-top:15px;
			margin-right:0px;
		}
		#judulartikel{
			margin-top:20px;
			color: #000;
			font-size: 26px;
			font-family: museosans300;
			
		}
		#isiartikel{
			margin-left:133px;
			max-width:700px;
			font-size: 16px;
			font-family: museosans300;
		}
		#tbpenyakit{
			margin-top:40px;
			margin-left:27%;			
		}
		#tbpenyakit2{
			width:300px;
		}
		#namapenyakit{
			margin-left:10px;
			max-width:700px;
			font-size: 21px;
			font-family: museosans300;
		}
		#namaobat{
			margin-left:10px;
			max-width:700px;
			font-size: 21px;
			font-family: museosans300;
		}
		#tbobat{
			margin-top:40px;
			margin-left:27%;			
			align:center;
		}
		#tbobat2{
			width:300px;
		}
		#btnpsize1{
			width:250px;
			color:white;
			background-color: rgb(248, 91, 6);
		}
		#btnpsize2{
			width:250px;
		}
		#tbtanyajawab{
			margin-top:40px;
			margin-left:17%;			
		}
		#tbpertanyaan2{
			width:300px;
			margin-left:17%;
		}